# --- Base de datos de Docker ---
# Ignora los archivos binarios de Postgres para que no se suban a GitHub
postgres_data/
*.db
*.log

.env

# --- Lenguajes: Python ---
__pycache__/
*.pyc
.ipynb_checkpoints/

# --- Lenguajes: Go ---
# Ignora el ejecutable compilado en la carpeta back
back/main


# --- Otros ---
.DS_Store

/front/build/
/front/master.spec
